<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}?bust={{cache_bust}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}?bust={{cache_bust}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}?bust={{cache_bust}}">
</head>
<body>
    <div class="sign-up-page">
        <div class="nav-bar">
            <div class="nav-heading">
                <span>University Grade Submission</span>
            </div>
            <div class="error-messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                            <div class="error-message">{{ message }}</div>
                        {% endfor %}
                {% endif %}
            {% endwith %}
            </div>    
            <div class="signout-button-container">
                <form action="/logout">
                    <button class="signout-button">Sign Out</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="student-form-container">
                <h5>Add a Student:</h3>
                <div class="student-form">
                    <form action="/student/add" method="POST">
                        <span>First Name:</span>
                        <input type="text" name="firstName" required>
                        <span>Last Name:</span>
                        <input type="text" name="lastName" required>
                        <button class='submit-form-button'>Add Student</button>
                    </form>
                </div>
            </div>
            <div class="student-form-container">
                    <h5>Add a Quiz:</h3>
                    <div class="student-form">
                        <form action="/quiz/add" method="POST">
                            <span>Subject Name:</span>
                            <input type="text" name="subjectName" required>
                            <span>Questions #:</span>
                            <input type="number" name="questionNum" required>
                            <span>Quiz Date:</span>
                            <input type="date" name="quizDate" required>
                            <button class='submit-form-button'>Add Quiz</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
